.movie-img {
    width: 370px;
    height: 490px;
}
.movie-name {
    color: greenyellow;
    font-size:40px;
}
.description {
    margin-top:50px;
}

.rating .fa-star{
    color: orangered!important;
    margin-right:5px;
    margin-top:10px;
    font-size: 20px;
}
.movie-info {
    background-color: #343a40;
    border-radius: 10px;
    border:2px solid #adff2f4f;
    padding:20px 10px;
}